<div id="glowscript" class="glowscript">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="https://www.glowscript.org/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
    <link type="text/css" href="https://www.glowscript.org/css/ide.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="https://www.glowscript.org/package/glow.3.2.min.js"></script>
    <script type="text/javascript" src="https://www.glowscript.org/package/RSrun.3.2.min.js"></script>
    <script type="text/javascript"><!--//--><![CDATA[//><!--
    
    // START JAVASCRIPT
    ;(function() {;
    var ρσ_modules = {};
    ρσ_modules.pythonize = {};
    
    (function(){
        function strings() {
            var string_funcs, exclude, name;
            string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
            if (!arguments.length) {
                exclude = (function(){
                    var s = ρσ_set();
                    s.jsset.add("split");
                    s.jsset.add("replace");
                    return s;
                })();
            } else if (arguments[0]) {
                exclude = Array.prototype.slice.call(arguments);
            } else {
                exclude = null;
            }
            if (exclude) {
                string_funcs = string_funcs.difference(set(exclude));
            }
            var ρσ_Iter0 = string_funcs;
            ρσ_Iter0 = ((typeof ρσ_Iter0[Symbol.iterator] === "function") ? (ρσ_Iter0 instanceof Map ? ρσ_Iter0.keys() : ρσ_Iter0) : Object.keys(ρσ_Iter0));
            for (var ρσ_Index0 of ρσ_Iter0) {
                name = ρσ_Index0;
                (ρσ_expr_temp = String.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name] = (ρσ_expr_temp = ρσ_str.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name];
            }
        };
        if (!strings.__module__) Object.defineProperties(strings, {
            __module__ : {value: "pythonize"}
        });
    
        ρσ_modules.pythonize.strings = strings;
    })();

    // Function to get query parameters from the URL
    function getQueryParams() {
        const params = new URLSearchParams(window.location.search);
        return {
            speed: parseFloat(params.get('speed')) || 5500,
            latitude: parseFloat(params.get('latitude')) || 52.36,
            longitude: parseFloat(params.get('longitude')) || 1.17,
            vx: parseFloat(params.get('vx')) || .5953,
            vy: parseFloat(params.get('vy')) || .3304,
            vz: parseFloat(params.get('vz')) || .6014
        };
    }
    
    async function __main__() {
    "use strict";
        var params = getQueryParams(); // Get the query parameters
        var display = canvas;
        var scene = canvas();
        var box, compound, cone, cylinder, ellipsoid, extrusion, helix, points, pyramid, ring, simple_sphere, group, vec, sleep, update, paths, shapes, vertex, triangle, quad, distant_light, local_light, attach_trail, attach_arrow, attach_light, sqrt, pi, tan, asin, acos, atan, atan2, exp, log, pow, factorial, combin, button, radio, checkbox, slider, checkbox, text, download, degrees, get_library, read_local_file
        var version, print, arange, __name__, type, ρσ_ls, G, M, earth_radius, omega, earth, latitude, longitude, phi, lambda_, z, x, y, projectile_radius, projectile, axis_length, shaftwidth, x_axis, y_axis, z_axis, ρσ_unpack, vx, vy, vz, speed, direction, velocity, dt, tracer, tilt_angle, rotation_axis, counter, r, r_mag, g, gravitational_acceleration, centrifugal_acceleration, net_acceleration;
        version = ρσ_list_decorate([ "3.2", "glowscript" ]);
        Array.prototype['+'] = function(r) {return this.concat(r)}
        Array.prototype['*'] = function(r) {return __array_times_number(this, r)}
        window.__GSlang = "vpython";
        print = GSprint;
        arange = range;
        __name__ = "__main__";
        type = pytype;
        var strings = ρσ_modules.pythonize.strings;
    
        strings();
        scene = ρσ_interpolate_kwargs.call(this, canvas, [ρσ_desugar_kwargs({width: 700, height: 400})]);
        "4";
        G = 6.6743e-11;
        "5";
        M = 5.972e24;
        "6";
        earth_radius = 6371e3;
        "7";
        omega = 72921e-9;
        "10";
        earth = ρσ_interpolate_kwargs.call(this, sphere, [ρσ_desugar_kwargs({pos: vector(0, 0, 0), radius: earth_radius, texture: textures.earth})]);
        "13";
        latitude = params.latitude;
        "14";
        longitude = params.longitude;
        "17";
        phi = (await radians(latitude));
        "18";
        lambda_ = (await radians(longitude));
        "21";
        z = earth_radius["*"](cos(phi))["*"](cos(lambda_));
        "22";
        x = earth_radius["*"](cos(phi))["*"](sin(lambda_));
        "23";
        y = earth_radius["*"](sin(phi));
        "26";
        projectile_radius = earth_radius["/"](100);
        "27";
        projectile = ρσ_interpolate_kwargs.call(this, sphere, [ρσ_desugar_kwargs({pos: vector(x, y, z), radius: projectile_radius, color: color.red})]);
        "30";
        axis_length = earth_radius["*"](1.5);
        "31";
        shaftwidth = earth_radius["*"](.01);
        "32";
        x_axis = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(0, 0, 0), axis: vector(axis_length, 0, 0), color: color.blue, shaftwidth: shaftwidth})]);
        "33";
        y_axis = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(0, 0, 0), axis: vector(0, axis_length, 0), color: color.green, shaftwidth: shaftwidth})]);
        "34";
        z_axis = ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: vector(0, 0, 0), axis: vector(0, 0, axis_length), color: color.yellow, shaftwidth: shaftwidth})]);
        "36";
        ρσ_interpolate_kwargs.call(this, label, [ρσ_desugar_kwargs({pos: x_axis.pos["+"](x_axis.axis), text: "x", xoffset: 10, yoffset: 10, space: 30, height: 20, border: 4, font: "sans"})]);
        "37";
        ρσ_interpolate_kwargs.call(this, label, [ρσ_desugar_kwargs({pos: y_axis.pos["+"](y_axis.axis), text: "y", xoffset: 10, yoffset: 10, space: 30, height: 20, border: 4, font: "sans"})]);
        "38";
        ρσ_interpolate_kwargs.call(this, label, [ρσ_desugar_kwargs({pos: z_axis.pos["+"](z_axis.axis), text: "z", xoffset: 10, yoffset: 10, space: 30, height: 20, border: 4, font: "sans"})]);
        "40";
        vx = params.vx;
        vy = params.vy;
        vz = params.vz;
        "43";
        speed = params.speed;
        "44";
        direction = vector(vx, vy, vz).norm();
        "45";
        velocity = direction["*"](speed);
        "48";
        dt = .5;
        "51";
        tracer = ρσ_interpolate_kwargs.call(this, curve, [ρσ_desugar_kwargs({color: color.yellow})]);
        "54";
        tilt_angle = (await radians(23.5));
        "55";
        rotation_axis = vector(sin(tilt_angle), cos(tilt_angle), 0);
        "58";
        counter = 0;
        "59";
        while (true) {
            "60";
            (await rate(1e3));
            "63";
            ρσ_interpolate_kwargs.call(earth, earth.rotate, [ρσ_desugar_kwargs({angle: omega["*"](dt), axis: rotation_axis})]);
            "66";
            r = projectile.pos["-"](1["*"](earth.pos));
            "67";
            r_mag = mag(r);
            "70";
            g = G["*"](M)["/"](Math.pow(r_mag, 2));
            "71";
            gravitational_acceleration = 1["-u"]()["*"](g)["*"](r.norm());
            "74";
            centrifugal_acceleration = Math.pow(omega, 2)["*"](r_mag)["*"](r.norm());
            "77";
            net_acceleration = gravitational_acceleration["+"](centrifugal_acceleration);
            "80";
            velocity=velocity["+"](net_acceleration["*"](dt));
            "83";
            projectile.pos=projectile.pos["+"](velocity["*"](dt));
            "86";
            ρσ_interpolate_kwargs.call(tracer, tracer.append, [ρσ_desugar_kwargs({pos: projectile.pos})]);
            "88";
            counter=counter["+"](1);
            "90";
            if (counter[">"](2) && r_mag["<"](earth_radius)) {
                "91";
                velocity = vector(0, 0, 0);
                "92";
                omega = 0;
            }
        }
    };
    if (!__main__.__module__) Object.defineProperties(__main__, {
        __module__ : {value: null}
    });
    
    ;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; __main__() })})()
    // END JAVASCRIPT
    
    //--><!]]></script>
    </div>